.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.absolute {
    height: 25rem;
    margin-right: 1rem; /* Margen entre elementos */
}

.relative {
    height: 25rem;
    margin-right: 1rem; /* Margen entre elementos */
}

.static {
    height: 25rem;
}

/*@media screen {767px
    object-fit: cover;
    object-position: bottom;
}*/