

body {
    width: auto;
    font-weight: bold; 
    text-transform: uppercase;  
     
}
p {
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: .2px;
    
}



header, nav, article, aside, section, footer {
    text-align: center;
    justify-items: center;
    padding: 20px;
    margin: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    background-color: rgb(248, 63, 63);
    box-shadow: 4px 4px 8px rgba(255, 14, 14, 0.2);
}


.container {
    display: flex;

}

article {
    width: 65%;
    height: 10rem;
}

section {
    background-color: #cc3333;
}

aside {
   width: 35%;
   margin-left: 5px; 

}



@media screen and (max-width: 767px) {
    article{width: 100%;}
    aside{width:100%}
   }    